
#body
{
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color:#1d1e22;
    font-family: 'Arial';
}
.login{
        
        width: 382px;
        overflow: hidden;
        margin: auto;
        
        padding: 80px;
        background: #393f4d;
        border-radius: 15px ;

}
h2{
    text-align: center;
    color: #d4d4dc;
    padding: 20px;
}
label{
    color: #d4d4dc;
    font-size: 17px;
}
#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}
#log{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;


}
#forget {
    color:#d4d4dc;
    background-color:#393f4d;
    text-decoration:none;
}
#home{
    color:#d4d4dc;
    background-color:#393f4d;
    text-decoration:none;
}
#rememberme{
    color:#d4d4dc;
    font-size: 17px;
}

a{
    float: right;
    background-color: grey;
}